# Create backup db user
DROP USER '{{ backup_user }}'@'localhost';
DROP USER '{{ backup_user }}'@'%';
FLUSH PRIVILEGES;

CREATE USER '{{ backup_user }}'@'localhost' IDENTIFIED BY '{{ backup_pwd }}';
REVOKE ALL PRIVILEGES ON  *.* FROM '{{ backup_user }}'@'localhost'; REVOKE GRANT OPTION ON  *.* FROM '{{ backup_user }}'@'localhost'; GRANT SELECT, INSERT, UPDATE, DELETE, PROCESS, FILE, REFERENCES, INDEX, SHOW DATABASES, LOCK TABLES, CREATE VIEW, EVENT, TRIGGER, SHOW VIEW, EXECUTE ON  *.* TO '{{ backup_user }}'@'localhost' REQUIRE NONE WITH MAX_QUERIES_PER_HOUR 0 MAX_CONNECTIONS_PER_HOUR 0 MAX_UPDATES_PER_HOUR 0 MAX_USER_CONNECTIONS 0;

CREATE USER '{{ backup_user }}'@'%' IDENTIFIED BY '{{ backup_pwd }}';
REVOKE ALL PRIVILEGES ON  *.* FROM '{{ backup_user }}'@'%'; REVOKE GRANT OPTION ON  *.* FROM '{{ backup_user }}'@'%'; GRANT SELECT, INSERT, UPDATE, DELETE, PROCESS, FILE, REFERENCES, INDEX, SHOW DATABASES, LOCK TABLES, CREATE VIEW, EVENT, TRIGGER, SHOW VIEW, EXECUTE ON  *.* TO '{{ backup_user }}'@'%' REQUIRE NONE WITH MAX_QUERIES_PER_HOUR 0 MAX_CONNECTIONS_PER_HOUR 0 MAX_UPDATES_PER_HOUR 0 MAX_USER_CONNECTIONS 0;