index index.php;

location / {
        autoindex off;
        index index.html index.php; ## Allow a static html file to be shown first
        try_files $uri $uri/ @handler; ## If missing pass the URI to Magento's front handler
        expires 30d; ## Assume all files are cachable
}

## Protected path via .htaccess
location ^~ /app/ { deny all; }
location ^~ /includes/ { deny all; }
location ^~ /lib/ { deny all; }
location ^~ /lib/minify/ { allow all; }
location ^~ /media/downloadable/ { deny all; }
location ^~ /pkginfo/ { deny all; }
location ^~ /report/config.xml { deny all; }
location ^~ /var/ { deny all; }
location ^~ /downloader/ { deny all; }
location ^~ /composer { deny all; }
location ^~ /cron { deny all; }
location ~* ^/errors/.+\.xml { deny all; }
location /var/sitemaps/ { allow all; }

## Disable .htaccess and other hidden files
location ~ /\. {
        return 404;
}

# Disallow PHP scripts in /media/
# Also render static 404 pages for missing media
location ~ ^/media/ {
        location ~ \.php$ {
                return 403;
        }
        try_files $uri $uri/ =404;
        expires 30d;
}

location ~ \.php/ { ## Forward paths like /js/index.php/x.js to relevant handler
        rewrite ^(.*\.php)/ $1 last;
}

# SUPEE 6285
# Only allow the new url case sensitive lowercase, deny case insensitive
location ^~ /rss/order/new {
        echo_exec @handler;
}
location ^~ /rss/catalog/notifystock {
        echo_exec @handler;
}
location ^~ /rss/catalog/review {
        echo_exec @handler;
}
location ~* /rss/order/new {
        return 403;
}
location ~* /rss/catalog/notifystock {
        return 403;
}
location ~* /rss/catalog/review {
        return 403;
}

location @handler {
        rewrite ^/downloader/(.*)$ /downloader/index.php$1;
        rewrite / /index.php;
}

location ~* \.(jpg|jpeg|gif|png|css|js|ico|xml)$ {
        access_log off;
        log_not_found off;
        expires max;
}

location ~ \.php$ { ## Execute PHP scripts
        expires off; ## Do not cache dynamic content
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

        ## Magento Multistore
        #fastcgi_param MAGE_RUN_CODE english;
        #fastcgi_param MAGE_RUN_TYPE store;

        include fastcgi_params; ## See /etc/nginx/fastcgi_params
}